{% extends 'layout.html' %}

{% block content %}
    {% if zindak %}
        <h1>{{ zindak }} 회 진닥했습니다.</h1>
    {% endif %}
    <a id="zindak" onclick="spin()" class="btn btn-primary" href="zindak/inc" role="button">진닥</a>

    <div style="margin-top: 20px">
        <form action="/zindak/post" method="post">
            <div class="form-row">
                <div class="col-md-2">
                    <input class="form-control" type="text" name="name" placeholder="이름">
                </div>
                <div class="col-md-6">
                    <input class="form-control" type="text" name="text" placeholder="내용">
                </div>
            </div>
            <input id='sub' class="btn btn-primary" type="submit" value="등록">
        </form>
    </div>

    <div style="margin-top: 20px">
    {% for comm in commlist %}
        <div>
            <h4 class="font-weight-bold">{{ comm.username }}</h4>
            <b>{{ comm.pub_date.strftime('%Y-%m-%d %H:%M:%S') }}</b>
            <p>{{ comm.content }}</p>
        </div>
    {% endfor %}
    </div>

    <script>
        var zindak = document.getElementById("zindak");
        var letters = '0123456789ABCDEF';
        var color = '#';

        for (var i = 0; i < 6; i++) {
            color += letters[Math.floor(Math.random() * 16)];
        }
        zindak.style.backgroundColor=color;
        zindak.addEventListener("transitionend", ending);
        document.addEventListener("mousemove", function(event){mouse(event);});
        function spin() {
            zindak.style.transform="rotate(360deg)";
            zindak.style.transition="transform 1s"
        }
        function ending() {
            zindak.style.transform="rotate(360deg)";
            zindak.style.transition="transform 1s"
        }
        function mouse(e) {
            zindak.style.left=max(200, e.clientX-24)+'px';
            zindak.style.top=e.clientY-8+'px';
        }
        function max(a, b) {if (a>b) return a; else return b;}
    </script>
{% endblock %}